/* reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
/* commons */
body{
    font-family: 'Fredoka', sans-serif;

}
/*
main{
    padding-top: 50px;
}
*/
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    color: #e53170;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #58b6d5;
    
}
li{
    background-color: #0f0e17;
    color: white;
   
}
/* layout */
.container{
    width: 60%;
    margin: 0;
    margin-left: 20%;
}
.container-flex{
    display: flex;
    justify-content: space-around;
    /* wrap test */
    flex-wrap: wrap;
}
/* item */
.item{
    width: 30%;
    padding: 10px;
    
}
.item img{
    width: 50px;
}
.item-flex{
    display: flex;
    justify-content: center;
}