/* reset */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
/* commons */
body{
    font-family: 'Fredoka', sans-serif;

}
/*
main{
    padding-top: 50px;
}
*/
p{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #e53170;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #58b6d5;
    
}
li{
    color: white;
    padding-top: 10px;
}
/* layout */
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* item */
.item{
    width: 30%;
    
    
}
.item img{
    width: 30%;
}
.item-flex{
    display: flex;
    background-color: #0f0e17;
    margin-top: 50px;
}
.shadow-light{
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.37);
}